.tools-menu {
    width: 23%;
    margin-left: 2%;
    height: 90%;
    padding: 30px 30px 10px;
    box-sizing: border-box;
    background-color: #f8f8f8;
    border: 1px solid #d2d2d2;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
}

.tools-menu-header {
    width: 100%;
    font-size: 1.618rem;
    margin-bottom: 2.618em;
}