.tools-menu-list {
    margin-bottom: 30px;
}

.tools-menu-empty-state {
    color: #626a81;
    padding: 50px;
    width: 50%;
    margin: 0 auto;
    line-height: 1.5;
    text-align: center;
}

.tools-menu-list-element {
    background-color: #FFFFFF;
    border: 1px solid #D1D8ED;
    -webkit-box-shadow: 0 3px 10px 3px #efefef;
    box-shadow: 0 3px 10px 3px #efefef;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    padding: 30px 20px;
    margin: 0 30px 30px;
    position: relative;
}

.tools-menu-list-element-name {
    font-size: 1.309rem;
    font-weight: 500;
    margin-bottom: 1.309em;
    color: #323642;
}

.tools-menu-list-element-buttons span {
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 10px;
}

.tools-menu-list-element-blue {
    border: 1px solid #4562ef;
    color: #4562ef;
}

.tools-menu-list-element-blue:hover, .sfc-initial:hover  {
    background-color: #CED4F2;
}

.sfc-initial {
    border: 1px solid #4562ef;
    color: #4562ef;
}

.sfc-valid  {
    border: 1px dashed green;
    color: green;
    cursor: default !important;
}

.sfc-invalid {
    border: 1px dashed red;
    color: red;
    cursor: default !important;
}

.sfc-pending, .sfc-unknown {
    color: #999;
    border: 1px dashed #999;
    cursor: default !important;
}

.tools-menu-list-element-remove {
    color: #999;
    border: 1px solid #999;
}

.tools-menu-list-element-remove:hover {
    color: #d2625e;
    border: 1px solid #d2625e;
    background-color: #F2E7E6;
}