.toolsMenu-add-vnfs {
    border: 1px dashed #9DA9CF;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    color: #626a81;
    margin: 0 30px 100px;
    line-height: 1.5;
    cursor: pointer;
}

.toolsMenu-add-vnfs p {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 25px 15px;
}