.toolsMenu-add-vnfs {
    border: 1px dashed #d7d7d7;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    padding: 25px 15px;
    margin: 0 30px 100px;
    color: #d7d7d7;
    line-height: 1.5;
}