.drawing-board {
    width: 75%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.drawing-board h1 {
    font-size: 1.618rem;
    margin-bottom: 1em;
}

.drawing-board form {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.drawing-board-vnfd-properties {
    position: absolute;
    right: 20px;
    bottom: 80px;
}

.drawing-board-vnf-list {
    padding-bottom: 2.618em;
    position: absolute;
    top: 0;
    left: 0;
}

#graph {
    width: 100%;
    height: 100%;
    display: flex;
}

#graph .view-wrapper .graph-controls {
    bottom: 30px !important;
    left: 30px !important;
}

.view-wrapper {
    background: #FFFFFF !important;
}

.graph-controls .slider-wrapper, .graph-controls .slider-button {
    -webkit-border-radius: 10px 10px 10px 10px !important;
    border-radius: 10px 10px 10px 10px !important;
}

.view-wrapper .graph-controls > .slider-wrapper {
    height: 43px !important;
    display: flex;
    align-content: center;
    padding: 0 15px !important;
    -webkit-box-shadow: 0 3px 10px 3px #efefef;
    box-shadow: 0 3px 10px 3px #efefef;
}

.view-wrapper .graph-controls > .slider-wrapper > span {
    margin-top: 0 !important;
    vertical-align: middle !important;
    line-height: 45px;
}

.view-wrapper .graph-controls > .slider-wrapper > .slider {
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-top: 5px !important;
}

.view-wrapper .graph-controls > .slider-button {
    height: 45px !important;
    width: 45px !important;
    display: flex;
    align-content: center;
    -webkit-box-shadow: 0 3px 10px 3px #efefef;
    box-shadow: 0 3px 10px 3px #efefef;
}

.view-wrapper .graph-controls > .slider-button svg {
    width: 60% !important;
    margin: 0 auto;
}

.view-wrapper .node .node-text.selected {
    stroke: none !important;
}

.view-wrapper .node tspan {
    font-size: 14px !important;
}

.vnffgd-control {
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.vnffgd-button {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1rem;
    padding-left: 15px;
    padding-right: 15px;
    height: 45px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 3px 10px 3px #efefef;
    box-shadow: 0 3px 10px 3px #efefef;
    border: 1px solid #4562ef;
    background-color: #F0F1F5;
    color: #4562ef;
    cursor: pointer;
    margin-left: 25px;
}