.tools-menu-vnf-list {
    margin-bottom: 30px;
}

.tools-menu-empty-state {
    color: #626a81;
    padding: 50px;
    width: 50%;
    margin: 0 auto;
    line-height: 1.5;
    text-align: center;
}

.vnf-list-element {
    /*border: 1px solid #222;
    background-color: #585f67;*/
    background-color: #F0F1F5;
    border: 1px solid #D1D8ED;
    -webkit-box-shadow: 0 3px 10px 3px #efefef;
    box-shadow: 0 3px 10px 3px #efefef;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    padding: 25px 15px;
    margin: 0 30px 30px;
    position: relative;
}

.vnf-list-element-name {
    font-size: 1.309rem;
    margin-bottom: 1em;
    color: #323642;
}

.vnf-list-element-buttons span {
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 10px;
}

.vnf-list-element-add-to-sfc {
    border: 1px solid #4562ef;
    color: #4562ef;
}

.vnf-list-element-add-to-sfc:hover {
    background-color: #CED4F2;
}

.vnf-list-element-remove {
    color: #d2625e;
    border: 1px solid #d2625e;
}

.vnf-list-element-remove:hover {
    background-color: #F2E7E6;
}