.tools-menu-vnf-list {
    margin-bottom: 30px;
}

.tools-menu-empty-state {
    color: #d7d7d7;
    padding: 50px;
    width: 50%;
    margin: 0 auto;
    line-height: 1.5;
    text-align: center;
}

.tools-menu-vnf-list-element {
    border: 1px solid #222;
    background-color: #585f67;
    -webkit-box-shadow: 0 3px 10px 5px #333;
    box-shadow: 0 3px 10px 5px #333;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    padding: 25px 15px;
    margin: 0 30px 30px;
    position: relative;
}

.tools-menu-vnf-list-element-number {
    text-transform: uppercase;
    font-size: 1rem;
    color: #3D4247;
    letter-spacing: 1px;
    padding-bottom: 0.618em;
}

.tools-menu-subtitle {
    font-size: 1.618rem;
    padding-bottom: 1em;
}

.vnf-list-element-name {
    margin-bottom: 1em;
    font-size: 1.309rem;
    color: #ffffff;
}

.vnf-list-element-buttons span {
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 10px;
}

.vnf-list-element-add-to-sfc {
    background-color: #3D4247;
    color: #C8CFE0;
}

.vnf-list-element-remove {
    //background-color: #F7867C;
    color: #F05B48;
    border: 1px solid #F05B48;
}

.tools-menu-vnf-list-element-remove:hover {
    cursor: pointer;
    text-decoration: underline;
}